{% extends "layout.html" %}
{% block hero %}
  <div class="hero page-inner">

		<div class="container">
			<div class="row justify-content-center align-items-center">
				<div class="col-lg-9 text-center mt-5">
					<h1 class="heading" data-aos="fade-up">Contact Us</h1>

					<nav aria-label="breadcrumb" data-aos="fade-up" data-aos-delay="200">
						<ol class="breadcrumb text-center justify-content-center">
							<li class="breadcrumb-item "><a href="index.html">Home</a></li>
							<li class="breadcrumb-item active text-white-50" aria-current="page">Contact Us</li>
						</ol>
					</nav>


				</div>
			</div>


		</div>
	</div>
{% endblock hero %}

{% block content %}
    <div class="section section-4 border-top">
		<div class="container">
			<div class="row text-left mb-5">
				<div class="col-lg-6">
					<h2 class="font-weight-bold heading text-primary mb-4">Get In Touch</h2>
					<p class="text-black-50">Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam enim pariatur similique debitis vel nisi qui reprehenderit totam? Quod maiores.</p>
				</div>
			</div>

			<form class="row">

				<div class="mb-3 col-lg-6">
					<input type="text" class="form-control" placeholder="Name">
				</div>

				<div class="mb-3 col-lg-6">
					<input type="text" class="form-control" placeholder="Email Address">
				</div>

				<div class="mb-3 col-lg-6">
					<input type="text" class="form-control" placeholder="Subject">
				</div>

				<div class="mb-3 col-lg-6">
					<input type="text" class="form-control" placeholder="Phone">
				</div>

				<div class="mb-3 col-lg-12">
					<textarea name="" id="" cols="30" rows="5" class="form-control" placeholder="Write your message here..."></textarea>
				</div>

				<div class="mb-3 col-lg-12">
					<input type="text" class="btn btn-primary" value="Send Message">
				</div>
			</form>



		</div>
	</div>
{% endblock content %}